body {
    margin: 0;
    display:flex;
    flex-direction: column;
    height:100%;
}

.app-container{
    flex:1;
    display: flex;
}

footer{
    height: 2rem;
    padding-left: 2rem;
    display:flex;
    align-items: center;
    justify-content: right;
}

main{
    flex:1;

}

nav button{
    margin: 2rem;
    padding: 5px 15px;
}